.post-job {
    display: flex;
    direction: row;
    border: solid 2px #2D2D2D;
    padding: 1.5em;
}

.students-container-b {
    display: flex;
    direction: row;
}

img {
    padding-right: 1.2em;
}